<div class="content">
  <h3 class="ui dividing header" style="padding-left: 9px">Statistiques</h3>
  <div style="padding-left: 9px">
    <div class="ui equal width grid">
      <div class="equal width row">
        <div class="column">
          <div class="ui card fluid">
            <div class="content">
              <div class="ui tiny horizontal statistics statistic">
                <div class="value">{{ statistiques.userCounts }}</div>
                <div class="label">Total</div>
              </div>
              <div class="header">Users</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card fluid">
            <div class="content">
              <div class="ui tiny horizontal statistics statistic">
                <div class="value">{{ statistiques.adCounts }}</div>
                <div class="label">Total</div>
              </div>
              <div class="header">Ads</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
